* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:focus {
  outline: none;
}

a:active {
  outline: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 100%;
}

.comtainer {
  overflow: hidden;
}

.header {
  position: absolute;
  margin-top: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 64px;
  width: 100%;
}

.header .container_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 64px;
}

.header .container_header .logo_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .container_header .logo_wrapper .logo,
.header .container_header .logo_wrapper .company_name {
  max-height: 64px;
}

.header .container_header .logo_wrapper .logo {
  margin-right: 12.38px;
}

.header .container_header nav .link_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .container_header nav .link_wrapper li {
  margin-left: 50px;
}

.header .container_header nav .link_wrapper li a {
  position: relative;
  font-family: "IBM Plex Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
}

.header .container_header nav .link_wrapper li a:hover {
  color: #00abca;
}

.header .container_header nav .link_wrapper li a:hover::after {
  content: " ";
  display: block;
  position: absolute;
  width: 16px;
  border-top: 2px solid #00abca;
  border-radius: 2px;
  margin-top: 8px;
  left: calc(50% - 8px);
}

.blue_link {
  color: #00abca;
}

.dstar_iot {
  background-image: url(..//img/background_header.png);
  background-size: cover;
}

.dstar_iot .container {
  height: inherit;
}

.dstar_iot .container .dstar_iot_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
  margin-bottom: 260px;
  margin-top: 267px;
}

.dstar_iot .container .dstar_iot_wrapper .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dstar_iot .container .dstar_iot_wrapper .description h1 {
  color: #ffffff;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 54px;
  line-height: 68px;
}

.dstar_iot .container .dstar_iot_wrapper .description .text_description {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #eeeeee;
  margin-top: 18px;
  margin-bottom: 47px;
}

.dstar_iot .container .dstar_iot_wrapper .description a {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.dstar_iot .container .dstar_iot_wrapper .description a div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  width: 172px;
  height: 54px;
  background: #00abca;
  border-radius: 5px;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 18px;
  line-height: 16px;
  text-align: center;
}

.dstar_iot .container .dstar_iot_wrapper .description a div:hover {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) inset;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) inset;
}

.how_it_works {
  margin-top: 140px;
  background-image: url(..//img/2_section/background_map.svg);
  background-repeat: no-repeat;
  background-position: right -9px top 196px;
}

.how_it_works .how_it_works_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.how_it_works .how_it_works_wrapper .how_it_heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 96px;
}

.how_it_works .how_it_works_wrapper .how_it_heading h3 {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-transform: uppercase;
  color: #00abca;
  margin-bottom: 10px;
}

.how_it_works .how_it_works_wrapper .how_it_heading h2 {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 54px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-transform: capitalize;
  margin-bottom: 16px;
}

.how_it_works .how_it_works_wrapper .how_it_heading span {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #667886;
}

.how_it_works .how_it_works_wrapper .how_it_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.how_it_works .how_it_works_wrapper .how_it_content .how_it_steps .steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style-type: none;
  position: relative;
  margin-right: 30px;
}

.how_it_works .how_it_works_wrapper .how_it_content .how_it_steps .steps .step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #161616;
  position: relative;
}

.how_it_works .how_it_works_wrapper .how_it_content .how_it_steps .steps .step:first-child::before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(25px / 2 + 5px);
  z-index: 1;
  border-right: 1px solid #ffffff;
  height: 50%;
}

.how_it_works .how_it_works_wrapper .how_it_content .how_it_steps .steps .step:last-child::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: calc(25px / 2 + 5px);
  z-index: 1;
  border-right: 1px solid #fff;
  height: 50%;
}

.how_it_works .how_it_works_wrapper .how_it_content .how_it_steps .steps .step:last-child {
  margin-bottom: 0;
}

.how_it_works .how_it_works_wrapper .how_it_content .how_it_steps .steps .step .list_counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 24px;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #667886;
  min-height: 35px;
  min-width: 35px;
  max-width: 35px;
  max-height: 35px;
  background-color: #ffffff;
  z-index: 2;
  border-radius: 5px;
  -webkit-box-shadow: 7px 7px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 7px 7px 30px rgba(0, 0, 0, 0.1);
}

.how_it_works .how_it_works_wrapper .how_it_content .how_it_steps .steps .step::after {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.how_it_works .how_it_works_wrapper .how_it_content .how_it_steps .steps .step_4 {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  line-height: 33px;
  margin-bottom: 32px;
}

.how_it_works .how_it_works_wrapper .how_it_content .how_it_steps .steps .step_4 div:last-child a {
  margin-right: 33px;
}

.how_it_works .how_it_works_wrapper .how_it_content .how_it_steps .steps .step_5 {
  margin-bottom: 39px;
}

.how_it_works .how_it_works_wrapper .how_it_content .how_it_steps .steps::before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(25px / 2 + 5px);
  z-index: 1;
  border-right: 1px dashed #ccc;
  height: 100%;
}

.how_it_works .how_it_works_wrapper .how_it_content .mac {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  max-width: 670px;
  max-height: 360px;
}

.aws_solution {
  margin-top: 140px;
}

.aws_solution .container .aws_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

.aws_solution .container .aws_wrapper .aws_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-item-align: center;
      align-self: center;
  width: 370px;
  height: 316px;
  margin-right: 30px;
}

.aws_solution .container .aws_wrapper .aws_text .head_text h3 {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-transform: uppercase;
  color: #00abca;
  margin-bottom: 14px;
}

.aws_solution .container .aws_wrapper .aws_text .head_text h2 {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 54px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-transform: capitalize;
  margin-bottom: 25px;
}

.aws_solution .container .aws_wrapper .aws_text .aws_text_content {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #667886;
}

.aws_solution .container .aws_wrapper .aws_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #f1f3f6;
  border-radius: 15px;
  padding: 58px 39px;
}

.aws_solution .container .aws_wrapper .aws_list .list_col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.aws_solution .container .aws_wrapper .aws_list .list_col .list_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: #161616;
}

.aws_solution .container .aws_wrapper .aws_list .list_col .list_row::before {
  content: " ";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #00abca;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-image: url(..//img/icon/check_aws.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 20px;
}

.all_communication {
  margin-top: 140px;
  background-image: url(..//img/all_com_bckg/illustration.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.all_communication .container .all_com_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.all_communication .container .all_com_wrapper .all_com_head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.all_communication .container .all_com_wrapper .all_com_head h3 {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #00abca;
  margin-bottom: 15px;
}

.all_communication .container .all_com_wrapper .all_com_head h2 {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 52px;
  text-align: center;
  color: #161616;
  max-width: 555px;
}

.all_communication .container .all_com_wrapper .all_com_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

.all_communication .container .all_com_wrapper .all_com_content .switch_tabs_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.all_communication .container .all_com_wrapper .all_com_content .switch_tabs_btn .swch_sections_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.all_communication .container .all_com_wrapper .all_com_content .switch_tabs_btn .swch_sections_wrapper .line_swch_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-item-align: stretch;
      align-self: stretch;
}

.all_communication .container .all_com_wrapper .all_com_content .switch_tabs_btn .swch_sections_wrapper .line_swch_wrapper .name_col {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-transform: capitalize;
  color: #161616;
  margin-bottom: 20px;
}

.all_communication .container .all_com_wrapper .all_com_content .switch_tabs_btn .swch_sections_wrapper .line_swch_wrapper .name_col_1 {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.all_communication .container .all_com_wrapper .all_com_content .switch_tabs_btn .swch_sections_wrapper .line_swch_wrapper .name_col_2 {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.all_communication .container .all_com_wrapper .all_com_content .switch_tabs_btn .swch_sections_wrapper .line_swch_wrapper .description_col {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #667886;
}

.all_communication .container .all_com_wrapper .all_com_content .switch_tabs_btn .swch_sections_wrapper .line_swch_wrapper_1 {
  margin-right: 28px;
}

.all_communication .container .all_com_wrapper .all_com_content .switch_tabs_btn .swch_sections_wrapper .line_swch_wrapper_2 {
  margin-left: 28px;
}

.all_communication .container .all_com_wrapper .all_com_content .switch_tabs_btn .swch_sections_wrapper {
  height: 106px;
}

.all_communication .container .all_com_wrapper .all_com_content .switch_tabs_btn .swch_sections_wrapper .trigger_btn {
  width: 60px;
  height: 60px;
  background: #f1f3f6;
  border-radius: 50%;
  -ms-flex-item-align: baseline;
      align-self: baseline;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.all_communication .container .all_com_wrapper .all_com_content .switch_tabs_btn .swch_sections_wrapper .trigger_btn:hover {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.15s;
  -o-transition: 0.15s;
  transition: 0.15s;
}

.all_communication .container .all_com_wrapper .all_com_content .switch_tabs_btn .swch_sections_wrapper .trigger_btn_active {
  background: #00abca;
}

.all_communication .container .all_com_wrapper .all_com_content .switch_tabs_btn_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.all_communication .container .all_com_wrapper .all_com_content .switch_tabs_btn_1 .swch_btn_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: right;
}

.all_communication .container .all_com_wrapper .all_com_content .switch_tabs_btn_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.all_communication .container .all_com_wrapper .all_com_content .switch_tabs_btn_2 .swch_btn_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.all_communication .container .all_com_wrapper .all_com_content .switch_tabs_wrapper {
  margin: 0 58px;
}

.all_communication .container .all_com_wrapper .all_com_content .switch_tabs_wrapper .tabs {
  -webkit-filter: drop-shadow(0px 4px 17px rgba(2, 87, 102, 0.25));
          filter: drop-shadow(0px 4px 17px rgba(2, 87, 102, 0.25));
}

.all_communication .container .all_com_wrapper .all_com_content .switch_tabs_wrapper .tabs .tab_image {
  display: none;
}

.all_communication .container .all_com_wrapper .all_com_content .switch_tabs_wrapper .tabs .tab_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 313px;
  max-height: 635px;
}

.participate {
  margin-top: 140px;
  background-image: url(..//img/participate_bckg/back_partic.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.participate .background_participate {
  position: absolute;
  font-family: Hind Vadodara;
  font-style: normal;
  font-weight: bold;
  font-size: 125px;
  line-height: 160px;
  color: rgba(255, 255, 255, 0.1);
  right: -25px;
  margin-top: 43px;
}

.participate .container .participate_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 140px;
}

.participate .container .participate_wrapper .participiate_header {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 42px;
  line-height: 52px;
  text-transform: capitalize;
  max-width: 594px;
  color: #ffffff;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  margin-top: 140px;
  margin-bottom: 50px;
}

.participate .container .participate_wrapper .slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #ffffff;
  -webkit-box-shadow: 7px 7px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 7px 7px 30px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.participate .container .participate_wrapper .slider .progress_bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 58px 70px 102px;
  counter-reset: myCounter;
}

.participate .container .participate_wrapper .slider .progress_bar .slide_progress_mark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #d8d8d8;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 42px;
  color: #ffffff;
}

.participate .container .participate_wrapper .slider .progress_bar .slide_progress_mark::after {
  counter-increment: myCounter;
  content: "Question" counter(myCounter);
  display: block;
  position: absolute;
  margin-top: 80px;
  color: black;
}

.participate .container .participate_wrapper .slider .progress_bar .slide_progress_mark_active {
  background-color: #00abca;
}

.participate .container .participate_wrapper .slider .progress_bar .progress_line {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 3px;
  background-color: #d8d8d8;
}

.participate .container .participate_wrapper .slider .progress_bar .progress_line_active {
  background-color: #00abca;
}

.participate .container .participate_wrapper .slider .slides_wrapper .form_wrapper {
  display: none;
}

.participate .container .participate_wrapper .slider .slides_wrapper .form_wrapper_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
}

.participate .container .participate_wrapper .slider .slides_wrapper .form_wrapper_active .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
}

.participate .container .participate_wrapper .slider .slides_wrapper .form_wrapper_active .form .form_question {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 46px;
  text-align: center;
  color: #161616;
}

.participate .container .participate_wrapper .slider .slides_wrapper .form_wrapper_active .form .form_submit {
  display: none;
}

.participate .container .participate_wrapper .slider .slides_wrapper .form_wrapper_active .form .form_btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  width: 48.8%;
  margin-top: 40px;
}

.participate .container .participate_wrapper .slider .slides_wrapper .form_wrapper_active .form .form_btns .radio_btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  height: 54px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.participate .container .participate_wrapper .slider .slides_wrapper .form_wrapper_active .form .form_btns .radio_btn:hover {
  border: 1px solid #00abca;
}

.participate .container .participate_wrapper .slider .slides_wrapper .form_wrapper_active .form .form_btns .radio_btn:nth-child(2) {
  margin-bottom: 16px;
}

.participate .container .participate_wrapper .slider .slides_wrapper .form_wrapper_active .form .form_btns .radio_btn:nth-child(odd) {
  margin-bottom: 25px;
}

.participate .container .participate_wrapper .slider .slides_wrapper .form_wrapper_active .form .form_btns .radio_btn input[type="radio"] {
  display: none;
}

.participate .container .participate_wrapper .slider .slides_wrapper .form_wrapper_active .form .form_btns .radio_btn input[type="radio"]:checked + label {
  background: #00abca;
  color: #ffffff;
  background-image: url(..//img/tabs_2_trigger/checked.svg);
  background-repeat: no-repeat;
  background-position: 527px;
}

.participate .container .participate_wrapper .slider .slides_wrapper .form_wrapper_active .form .form_btns .radio_btn input[type="radio"]:checked + label span {
  color: #ffffff;
}

.participate .container .participate_wrapper .slider .slides_wrapper .form_wrapper_active .form .form_btns .radio_btn label {
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100%;
  border-radius: 10px;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  letter-spacing: -0.02em;
  text-transform: capitalize;
  color: #667886;
  padding-left: 20px;
}

.participate .container .participate_wrapper .slider .slides_wrapper .form_wrapper_active .form .form_btns .radio_btn label span {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 54px;
  letter-spacing: -0.02em;
  text-transform: capitalize;
  color: #667886;
  margin-left: 20px;
}

.participate .container .participate_wrapper .slider .slider_btns_wrapper {
  margin: 50px 50px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.participate .container .participate_wrapper .slider .slider_btns_wrapper .slider_move_btn {
  width: 225px;
  height: 50px;
  background-color: #ffffff;
  cursor: pointer;
  border: 1px solid #00abca;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
}

.participate .container .participate_wrapper .slider .slider_btns_wrapper .btn_back {
  background-image: url(..//img/icon/arrow_blue_back.svg);
  background-repeat: no-repeat;
  background-position: 37px 50%;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  color: #00abca;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 30px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.participate .container .participate_wrapper .slider .slider_btns_wrapper .btn_back:hover {
  background-color: #00abca;
  background-image: url(..//img/icon/arrow_white_back.svg);
  color: #ffffff;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.participate .container .participate_wrapper .slider .slider_btns_wrapper .disabled_btn {
  background-image: url(..//img/icon/arrow_gray_back.svg);
  background-repeat: no-repeat;
  background-position: 37px 50%;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  color: #667886;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 30px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  cursor: default;
  border: 1px solid #667886;
}

.participate .container .participate_wrapper .slider .slider_btns_wrapper .btn_forward {
  background-image: url(..//img/icon/arrow_blue_forward.svg);
  background-repeat: no-repeat;
  background-position: 168px 50%;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  color: #00abca;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 30px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.participate .container .participate_wrapper .slider .slider_btns_wrapper .btn_forward:hover {
  background-color: #00abca;
  background-image: url(..//img/icon/arrow_white_forward.svg);
  color: #ffffff;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.participate .container .participate_wrapper .slider .slider_btns_wrapper .btn_get_result {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  color: #00abca;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.participate .container .participate_wrapper .slider .slider_btns_wrapper .btn_get_result:hover {
  background-color: #00abca;
  color: #ffffff;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.participate .container .participate_wrapper .slider_hidden {
  display: none;
}

.participate .container .participate_wrapper .result_hidden {
  display: none;
}

.participate .container .participate_wrapper .result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 708px;
  background: #ffffff;
  -webkit-box-shadow: 7px 7px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 7px 7px 30px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.participate .container .participate_wrapper .result .answer {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 46px;
  text-align: center;
  color: #161616;
}

.participate .container .participate_wrapper .result .answer::before {
  content: " ";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #00abca;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-image: url(..//img/icon/check_aws.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.participate .container .participate_wrapper .result .description_answer {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 34px;
  text-align: center;
  color: #667886;
  max-width: 661px;
}

.participate .container .participate_wrapper .result .button_try_now {
  width: 160px;
  height: 50px;
  background: #00abca;
  border-radius: 5px;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  color: #ffffff;
  text-align: center;
  padding: 7px 45px;
  cursor: pointer;
}

.participate .container .participate_wrapper .back_block_1 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 96%;
  height: 20px;
  background: #4ebbcf;
  -webkit-box-shadow: 7px 7px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 7px 7px 30px rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.participate .container .participate_wrapper .back_block_2 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 93%;
  height: 20px;
  background: #34b3c9;
  -webkit-box-shadow: 7px 7px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 7px 7px 30px rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.footer {
  background-image: url(..//img/footer_bckg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.footer .container {
  width: 1170px;
}

.footer .container .footer_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .container .footer_wrapper .footer_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px;
  margin-bottom: 135px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .container .footer_wrapper .footer_content .content_col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc(100% / 3);
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footer .container .footer_wrapper .footer_content .content_col .content_row_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  color: #ffffff;
}

.footer .container .footer_wrapper .footer_content .content_col .content_row_1 .logo_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .container .footer_wrapper .footer_content .content_col .content_row_1 .logo_wrapper .logo,
.footer .container .footer_wrapper .footer_content .content_col .content_row_1 .logo_wrapper .company_name {
  max-height: 64px;
}

.footer .container .footer_wrapper .footer_content .content_col .content_row_1 .logo_wrapper .logo {
  margin-right: 12.38px;
}

.footer .container .footer_wrapper .footer_content .content_col .content_row_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #eeeeee;
}

.footer .container .footer_wrapper .footer_content .content_col .footer_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .container .footer_wrapper .footer_content .content_col .footer_links div a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #eeeeee;
}

.footer .container .footer_wrapper .footer_content .content_col .social_links_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer .container .footer_wrapper .footer_content .content_col .social_links_wrapper a {
  margin-right: 14.95px;
  margin-bottom: 15.02px;
}

.footer .container .footer_wrapper .footer_content .content_col .social_links_wrapper a .social {
  width: 35.05px;
  height: 35.05px;
  background: #00abca;
  border-radius: 5px;
}

.footer .container .footer_wrapper .footer_content .content_col .social_links_wrapper a .social:hover {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #00abca;
}

.footer .container .footer_wrapper .footer_content .content_col .social_links_wrapper a .social_1 {
  background-image: url(..//img/icon/footer_social/social_white/tweeter_white.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.footer .container .footer_wrapper .footer_content .content_col .social_links_wrapper a .social_1:hover {
  background-image: url(..//img/icon/footer_social/social_blue/tweeter_blue.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.footer .container .footer_wrapper .footer_content .content_col .social_links_wrapper a .social_2 {
  background-image: url(..//img/icon/footer_social/social_white/facebook_white.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.footer .container .footer_wrapper .footer_content .content_col .social_links_wrapper a .social_2:hover {
  background-image: url(..//img/icon/footer_social/social_blue/facebook_blue.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.footer .container .footer_wrapper .footer_content .content_col .social_links_wrapper a .social_3 {
  background-image: url(..//img/icon/footer_social/social_white/linkedin_white.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.footer .container .footer_wrapper .footer_content .content_col .social_links_wrapper a .social_3:hover {
  background-image: url(..//img/icon/footer_social/social_blue/linkedin_blue.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.footer .container .footer_wrapper .footer_content .content_col .social_links_wrapper a .social_4 {
  background-image: url(..//img/icon/footer_social/social_white/medium_white.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.footer .container .footer_wrapper .footer_content .content_col .social_links_wrapper a .social_4:hover {
  background-image: url(..//img/icon/footer_social/social_blue/medium_blue.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.footer .container .footer_wrapper .footer_content .content_col .social_links_wrapper a .social_5 {
  background-image: url(..//img/icon/footer_social/social_white/instagram_white.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.footer .container .footer_wrapper .footer_content .content_col .social_links_wrapper a .social_5:hover {
  background-image: url(..//img/icon/footer_social/social_blue/instagram_blue.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.footer .container .footer_wrapper .footer_content .content_col .social_links_wrapper a .social_6 {
  background-image: url(..//img/icon/footer_social/social_white/telegram_white.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.footer .container .footer_wrapper .footer_content .content_col .social_links_wrapper a .social_6:hover {
  background-image: url(..//img/icon/footer_social/social_blue/telegram_blue.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.footer .container .footer_wrapper .footer_content .content_col .social_links_wrapper a .social_7 {
  background-image: url(..//img/icon/footer_social/social_white/vk_white.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.footer .container .footer_wrapper .footer_content .content_col .social_links_wrapper a .social_7:hover {
  background-image: url(..//img/icon/footer_social/social_blue/vk_blue.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.footer .container .footer_wrapper .footer_content .content_col .social_links_wrapper a .social_8 {
  background-image: url(..//img/icon/footer_social/social_white/reddit_white.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.footer .container .footer_wrapper .footer_content .content_col .social_links_wrapper a .social_8:hover {
  background-image: url(..//img/icon/footer_social/social_blue/reddit_blue.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.footer .container .footer_wrapper .footer_content .content_col .social_links_wrapper a .social_9 {
  background-image: url(..//img/icon/footer_social/social_white/youtube_white.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.footer .container .footer_wrapper .footer_content .content_col .social_links_wrapper a .social_9:hover {
  background-image: url(..//img/icon/footer_social/social_blue/youtube_blue.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.footer .container .footer_wrapper .footer_content .content_col_2 {
  -ms-flex-line-pack: center;
      align-content: center;
  margin-left: 178px;
}

.footer .container .footer_wrapper .footer_content .social_wrapper {
  margin-left: 230px;
}

.footer .container .footer_wrapper .footer_copyright {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #667886;
  margin-bottom: 15.02px;
}

.footer .container .footer_wrapper .footer_copyright::before {
  content: " ";
  display: block;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 15.02px;
}

@media (min-width: 1025px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    width: 1170px;
  }
}

@media (min-width: 992px) and (max-width: 1024px) {
  .container {
    max-width: 992px;
    margin-left: auto;
    margin-right: auto;
  }
  .container .dstar_iot_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container .dstar_iot_wrapper .description {
    max-width: 992px;
  }
  .container .aws_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .container {
    max-width: 768px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .container .dstar_iot_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .how_it_works_wrapper .how_it_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .aws_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .aws_wrapper .aws_list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .aws_wrapper .aws_list .list_row {
    margin: 10px auto;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .container {
    max-width: 481px;
    margin-left: auto;
    margin-right: auto;
  }
  .container .container_header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .dstar_iot_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .how_it_works_wrapper .how_it_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .aws_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .aws_wrapper .aws_list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .aws_wrapper .aws_list .list_row {
    margin: 10px auto;
  }
}

@media (max-width: 480px) {
  .container {
    max-width: 480px;
  }
  .container .dstar_iot_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .how_it_works_wrapper .how_it_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .aws_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .aws_wrapper .aws_list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .aws_wrapper .aws_list .list_row {
    margin: 10px auto;
  }
}
