* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:focus {
  outline: none;
}

a:active {
  outline: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1170px;
}

.header {
  position: absolute;
  margin-top: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 64px;
  width: 100%;
}

.header .container_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 64px;
}

.header .container_header .logo_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .container_header .logo_wrapper .logo,
.header .container_header .logo_wrapper .company_name {
  max-height: 64px;
}

.header .container_header .logo_wrapper .logo {
  margin-right: 12.38px;
}

.header .container_header nav .link_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .container_header nav .link_wrapper li {
  margin-left: 50px;
}

.header .container_header nav .link_wrapper li a {
  font-family: "IBM Plex Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
}

.header .container_header nav .link_wrapper li a:hover, .header .container_header nav .link_wrapper li a:active {
  color: #00abca;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.header .container_header nav .link_wrapper li a:hover::after, .header .container_header nav .link_wrapper li a:active::after {
  content: " ";
  display: block;
  position: absolute;
  width: 16px;
  border: 2px solid #00abca;
  border-radius: 2px;
  margin-top: 8px;
}

.blue_link {
  color: #00abca;
}

.dstar_iot {
  background-image: url(..//img/background_header.png);
  height: 100vh;
}

.dstar_iot .container {
  height: inherit;
}

.dstar_iot .container .dstar_iot_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
}

.dstar_iot .container .dstar_iot_wrapper .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 295px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dstar_iot .container .dstar_iot_wrapper .description h1 {
  color: #ffffff;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 54px;
  line-height: 68px;
}

.dstar_iot .container .dstar_iot_wrapper .description .text_description {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #eeeeee;
}

.dstar_iot .container .dstar_iot_wrapper .description button {
  width: 172px;
  height: 54px;
  background: #00abca;
  border-radius: 5px;
  color: #ffffff;
}

.dstar_iot .container .dstar_iot_wrapper .description button:hover {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) inset;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) inset;
}

.how_it_works {
  height: 100vh;
  background-image: url(..//img/2_section/background_map.svg);
  background-repeat: no-repeat;
  background-position: right center;
}

.how_it_works .how_it_works_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.how_it_works .how_it_works_wrapper .how_it_heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.how_it_works .how_it_works_wrapper .how_it_heading h3 {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-transform: uppercase;
  color: #00abca;
}

.how_it_works .how_it_works_wrapper .how_it_heading h2 {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 54px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-transform: capitalize;
}

.how_it_works .how_it_works_wrapper .how_it_heading span {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #667886;
}

.how_it_works .how_it_works_wrapper .how_it_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.how_it_works .how_it_works_wrapper .how_it_content .how_it_steps .steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 564px;
  max-width: 470px;
  counter-reset: myCounter;
}

.how_it_works .how_it_works_wrapper .how_it_content .how_it_steps .steps .step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 35px;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #161616;
}

.how_it_works .how_it_works_wrapper .how_it_content .how_it_steps .steps .step .step_4 {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.how_it_works .how_it_works_wrapper .how_it_content .how_it_steps .steps .step::before {
  counter-increment: myCounter;
  content: counter(myCounter);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 24px;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #667886;
  min-height: 35px;
  min-width: 35px;
  max-width: 35px;
  max-height: 35px;
  background-color: #ffffff;
  border-radius: 5px;
  -webkit-box-shadow: 7px 7px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 7px 7px 30px rgba(0, 0, 0, 0.1);
}

.how_it_works .how_it_works_wrapper .how_it_content .how_it_steps .steps .step::after {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.how_it_works .how_it_works_wrapper .how_it_content .mac {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 670px;
  height: 360px;
}

.aws_solution .container .aws_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 50vh;
}

.aws_solution .container .aws_wrapper .aws_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-item-align: center;
      align-self: center;
  width: 370px;
  height: 316px;
  margin-right: 30px;
}

.aws_solution .container .aws_wrapper .aws_text .head_text h3 {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-transform: uppercase;
  color: #00abca;
  margin-bottom: 14px;
}

.aws_solution .container .aws_wrapper .aws_text .head_text h2 {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 54px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-transform: capitalize;
  margin-bottom: 25px;
}

.aws_solution .container .aws_wrapper .aws_text .aws_text_content {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #667886;
}

.aws_solution .container .aws_wrapper .aws_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #f1f3f6;
  border-radius: 15px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.aws_solution .container .aws_wrapper .aws_list .list_col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.aws_solution .container .aws_wrapper .aws_list .list_col .list_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: #161616;
}

.aws_solution .container .aws_wrapper .aws_list .list_col .list_row::before {
  content: " ";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #00abca;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-image: url(..//img/icon/check_aws.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 39px;
  margin-right: 20px;
}

.all_communication .container .all_com_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 100vh;
}

.all_communication .container .all_com_wrapper .all_com_head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.all_communication .container .all_com_wrapper .all_com_head h3 {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #00abca;
}

.all_communication .container .all_com_wrapper .all_com_head h2 {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 52px;
  text-align: center;
  color: #161616;
  max-width: 555px;
}

.all_communication .container .all_com_wrapper .all_com_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.all_communication .container .all_com_wrapper .all_com_content .switch_tabs_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.all_communication .container .all_com_wrapper .all_com_content .switch_tabs_btn .swch_sections_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.all_communication .container .all_com_wrapper .all_com_content .switch_tabs_btn .swch_sections_wrapper .line_swch_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-item-align: stretch;
      align-self: stretch;
}

.all_communication .container .all_com_wrapper .all_com_content .switch_tabs_btn .swch_sections_wrapper .line_swch_wrapper .name_col {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-transform: capitalize;
  color: #161616;
  margin-bottom: 20px;
}

.all_communication .container .all_com_wrapper .all_com_content .switch_tabs_btn .swch_sections_wrapper .line_swch_wrapper .name_col_1 {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.all_communication .container .all_com_wrapper .all_com_content .switch_tabs_btn .swch_sections_wrapper .line_swch_wrapper .name_col_2 {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.all_communication .container .all_com_wrapper .all_com_content .switch_tabs_btn .swch_sections_wrapper .line_swch_wrapper .description_col {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #667886;
}

.all_communication .container .all_com_wrapper .all_com_content .switch_tabs_btn .swch_sections_wrapper .line_swch_wrapper_1 {
  margin-right: 28px;
}

.all_communication .container .all_com_wrapper .all_com_content .switch_tabs_btn .swch_sections_wrapper .line_swch_wrapper_2 {
  margin-left: 28px;
}

.all_communication .container .all_com_wrapper .all_com_content .switch_tabs_btn .swch_sections_wrapper {
  height: 106px;
}

.all_communication .container .all_com_wrapper .all_com_content .switch_tabs_btn .swch_sections_wrapper .trigger_btn {
  width: 60px;
  height: 60px;
  background: #f1f3f6;
  border-radius: 50%;
  -ms-flex-item-align: baseline;
      align-self: baseline;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.all_communication .container .all_com_wrapper .all_com_content .switch_tabs_btn .swch_sections_wrapper .trigger_btn:hover {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -webkit-transition: .15s;
  -o-transition: .15s;
  transition: .15s;
}

.all_communication .container .all_com_wrapper .all_com_content .switch_tabs_btn .swch_sections_wrapper .trigger_btn_active {
  background: #00ABCA;
}

.all_communication .container .all_com_wrapper .all_com_content .switch_tabs_btn_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.all_communication .container .all_com_wrapper .all_com_content .switch_tabs_btn_1 .swch_btn_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: right;
}

.all_communication .container .all_com_wrapper .all_com_content .switch_tabs_btn_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.all_communication .container .all_com_wrapper .all_com_content .switch_tabs_btn_2 .swch_btn_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.all_communication .container .all_com_wrapper .all_com_content .switch_tabs_wrapper {
  margin: 0 58px;
}

.all_communication .container .all_com_wrapper .all_com_content .switch_tabs_wrapper .tabs {
  -webkit-filter: drop-shadow(0px 4px 17px rgba(2, 87, 102, 0.25));
          filter: drop-shadow(0px 4px 17px rgba(2, 87, 102, 0.25));
}

.all_communication .container .all_com_wrapper .all_com_content .switch_tabs_wrapper .tabs .tab_image {
  display: none;
}

.all_communication .container .all_com_wrapper .all_com_content .switch_tabs_wrapper .tabs .tab_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 313px;
  max-height: 635px;
}
