/* Слайдер */
.slick-slider {
}
/* Слайдер запущен */
.slick-slider.slick-initialized {
}
/* Слайдер с точками */
.slick-slider.slick-dotted {
}
/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}
/* Лента слайдов */
.slick-track {
    display: flex;
}
/* Слайд */
.slick-slide {
    max-width: 75%;
    max-height: 75%;
}
/* Слайд активный (показывается) */
.slick-slide.slick-active {
}
/* Слайд основной */
.slick-slide.slick-current {
}
/* Слайд по центру */
.slick-slide.slick-center {
}
/* Клонированный слайд */
.slick-slide.slick-cloned {
}
/* Стрелка */
.slick-arrow {
    display: none;
}
/* Стрелка влево */
.slick-arrow.slick-prev {
}
/* Стрелка вправо */
.slick-arrow.slick-next {
}
/* Стрелка не активная */
.slick-arrow.slick-disabled {
}
/* Точки (булиты) */
.slick-dots {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.slick-dots li {
    list-style: none;
}
/* Активная точка */
.slick-dots li.slick-active {
}
/* Элемент точки */
.slick-dots li button {
    font-size: 0;
    width: 60px;
    height: 60px;
    background: #f1f3f6;
    border-radius: 50%;
    align-self: baseline;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;

    &:active,
    &:focus {
        outline: none;
    }
}

.slick-dots li {
    &:nth-of-type(1) button {
        background-image: url(..//img/tabs_1_trigger/audio_calls.svg);
        background-repeat: no-repeat;
        background-position: center center;
    }
    &:nth-of-type(2) button {
        background-image: url(..//img/tabs_1_trigger/backup_and_restore.svg);
        background-repeat: no-repeat;
        background-position: center center;
    }
    &:nth-of-type(3) button {
        background-image: url(..//img/tabs_1_trigger/cloud_storage.svg);
        background-repeat: no-repeat;
        background-position: center center;
    }
    &:nth-of-type(4) button {
        background-image: url(..//img/tabs_1_trigger/email.svg);
        background-repeat: no-repeat;
        background-position: center center;
    }
    &:nth-of-type(5) button {
        background-image: url(..//img/tabs_1_trigger/messenger.svg);
        background-repeat: no-repeat;
        background-position: center center;
    }
    &:nth-of-type(6) button {
        background-image: url(..//img/tabs_1_trigger/video_calls.svg);
        background-repeat: no-repeat;
        background-position: center center;
    }
}

.slick-dots li.slick-active button {
    background: #00abca;
    &:active,
    &:focus {
        outline: none;
    }
}

.slick-dots li.slick-active {
    &:nth-of-type(1) button {
        background-image: url(..//img/tabs_1_trigger_active_white/audio_calls.svg);
        background-repeat: no-repeat;
        background-position: center center;
    }
    &:nth-of-type(2) button {
        background-image: url(..//img/tabs_1_trigger_active_white/backup_and_restore.svg);
        background-repeat: no-repeat;
        background-position: center center;
    }
    &:nth-of-type(3) button {
        background-image: url(..//img/tabs_1_trigger_active_white/cloud_storage.svg);
        background-repeat: no-repeat;
        background-position: center center;
    }
    &:nth-of-type(4) button {
        background-image: url(..//img/tabs_1_trigger_active_white/email.svg);
        background-repeat: no-repeat;
        background-position: center center;
    }
    &:nth-of-type(5) button {
        background-image: url(..//img/tabs_1_trigger_active_white/messenger.svg);
        background-repeat: no-repeat;
        background-position: center center;
    }
    &:nth-of-type(6) button {
        background-image: url(..//img/tabs_1_trigger_active_white/video_calls.svg);
        background-repeat: no-repeat;
        background-position: center center;
    }
}

.slick_item {
    text-align: center;
    .tab_image {
        max-width: 50%;
        max-height: 50%;
        text-align: center;
    }
    .name_col {
        font-family: IBM Plex Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 20px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        text-transform: capitalize;
        color: #161616;
        margin-bottom: 20px;
    }
    .description_col {
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #667886;
    }
}
