* {
    padding: 0;
    margin: 0;
    border: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    &:before {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    &:after {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
}

a {
    text-decoration: none;

    &:focus {
        outline: none;
    }
    &:active {
        outline: none;
    }

    &:visited {
        text-decoration: none;
    }
    &:hover {
        text-decoration: none;
    }
}

ul {
    li {
        list-style: none;
    }
}

body {
    display: flex;
    flex-direction: column;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1170px;
}

.header {
    position: absolute;
    margin-top: 13px;
    display: flex;
    height: 64px;
    width: 100%;
    .container_header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 64px;
        .logo_wrapper {
            display: flex;
            align-items: center;
            .logo,
            .company_name {
                max-height: 64px;
            }
            .logo {
                margin-right: 12.38px;
            }
        }
        nav {
            .link_wrapper {
                display: flex;
                li {
                    margin-left: 50px;
                    a {
                        font-family: "IBM Plex Sans", sans-serif;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 16px;
                        color: #ffffff;

                        &:hover,
                        &:active {
                            color: #00abca;
                            transition: 0.2s;
                            &::after {
                                content: " ";
                                display: block;
                                position: absolute;
                                width: 16px;
                                border: 2px solid #00abca;
                                border-radius: 2px;
                                margin-top: 8px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.dstar_iot {
    background-image: url(/img/background_header.png);
    height: 100vh;
    .container {
        height: inherit;
        .dstar_iot_wrapper {
            display: flex;
            flex-direction: row;
            align-items: center;
            height: inherit;
            .description {
                display: flex;
                flex-direction: column;
                height: 295px;
                justify-content: space-between;

                h1 {
                    color: #ffffff;
                    font-family: IBM Plex Sans;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 54px;
                    line-height: 68px;
                }
                .text_description {
                    font-family: Open Sans;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 30px;
                    color: #eeeeee;
                }
                button {
                    width: 172px;
                    height: 54px;
                    background: #00abca;
                    border-radius: 5px;
                }
            }
        }
    }
}

.how_it_works {
    height: 100vh;
}
