* {
    padding: 0;
    margin: 0;
    border: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    &:before {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    &:after {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
}

a {
    text-decoration: none;

    &:focus {
        outline: none;
    }
    &:active {
        outline: none;
    }

    &:visited {
        text-decoration: none;
    }
    &:hover {
        text-decoration: none;
    }
}

ul {
    li {
        list-style: none;
    }
}

body {
    display: flex;
    flex-direction: column;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1170px;
}

.header {
    position: absolute;
    margin-top: 13px;
    display: flex;
    height: 64px;
    width: 100%;
    .container_header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 64px;
        .logo_wrapper {
            display: flex;
            align-items: center;
            .logo,
            .company_name {
                max-height: 64px;
            }
            .logo {
                margin-right: 12.38px;
            }
        }
        nav {
            .link_wrapper {
                display: flex;
                li {
                    margin-left: 50px;
                    a {
                        font-family: "IBM Plex Sans", sans-serif;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 16px;
                        color: #ffffff;

                        &:hover,
                        &:active {
                            color: #00abca;
                            transition: 0.2s;
                            &::after {
                                content: " ";
                                display: block;
                                position: absolute;
                                width: 16px;
                                border: 2px solid #00abca;
                                border-radius: 2px;
                                margin-top: 8px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.blue_link {
    color: #00abca;
}

.dstar_iot {
    background-image: url(..//img/background_header.png);
    height: 100vh;
    .container {
        height: inherit;
        .dstar_iot_wrapper {
            display: flex;
            flex-direction: row;
            align-items: center;
            height: inherit;
            .description {
                display: flex;
                flex-direction: column;
                height: 295px;
                justify-content: space-between;

                h1 {
                    color: #ffffff;
                    font-family: IBM Plex Sans;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 54px;
                    line-height: 68px;
                }
                .text_description {
                    font-family: Open Sans;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 30px;
                    color: #eeeeee;
                }
                button {
                    width: 172px;
                    height: 54px;
                    background: #00abca;
                    border-radius: 5px;
                    color: #ffffff;
                    &:hover {
                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) inset;
                    }
                }
            }
        }
    }
}

.how_it_works {
    height: 100vh;
    background-image: url(..//img/2_section/background_map.svg);
    background-repeat: no-repeat;
    background-position: right center;
    .how_it_works_wrapper {
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: space-around;
        .how_it_heading {
            display: flex;
            flex-direction: column;
            h3 {
                font-family: IBM Plex Sans;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 16px;
                align-self: center;
                text-transform: uppercase;
                color: #00abca;
            }
            h2 {
                font-family: IBM Plex Sans;
                font-style: normal;
                font-weight: bold;
                font-size: 42px;
                line-height: 54px;
                align-self: center;
                text-transform: capitalize;
            }
            span {
                font-family: Open Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 30px;
                align-self: center;
                color: #667886;
            }
        }
        .how_it_content {
            display: flex;
            flex-direction: row;
            .how_it_steps {
                .steps {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    height: 564px;
                    max-width: 470px;
                    counter-reset: myCounter;
                    .step {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        margin-bottom: 35px;
                        font-family: IBM Plex Sans;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 26px;
                        color: #161616;
                        .step_4 {
                            flex-wrap: wrap;
                        }
                        &::before {
                            counter-increment: myCounter;
                            content: counter(myCounter);
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-right: 24px;
                            font-family: IBM Plex Sans;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 18px;
                            line-height: 24px;
                            text-align: center;
                            color: #667886;
                            min-height: 35px;
                            min-width: 35px;
                            max-width: 35px;
                            max-height: 35px;
                            background-color: #ffffff;
                            border-radius: 5px;
                            box-shadow: 7px 7px 30px rgba(0, 0, 0, 0.1);
                        }
                        &::after {
                            content: "";
                            display: flex;
                        }
                    }
                }
            }
            .mac {
                align-self: center;
                width: 670px;
                height: 360px;
            }
        }
    }
}

.aws_solution {
    .container {
        .aws_wrapper {
            display: flex;
            align-content: center;
            height: 50vh;
            .aws_text {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                align-self: center;
                width: 370px;
                height: 316px;
                margin-right: 30px;
                .head_text {
                    h3 {
                        font-family: IBM Plex Sans;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 16px;
                        align-self: center;
                        text-transform: uppercase;
                        color: #00abca;
                        margin-bottom: 14px;
                    }
                    h2 {
                        font-family: IBM Plex Sans;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 42px;
                        line-height: 54px;
                        align-self: center;
                        text-transform: capitalize;
                        margin-bottom: 25px;
                    }
                }
                .aws_text_content {
                    font-family: Open Sans;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 30px;
                    color: #667886;
                }
            }
            .aws_list {
                display: flex;
                background: #f1f3f6;
                border-radius: 15px;
                flex-grow: 1;
                .list_col {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    flex-grow: 1;
                    .list_row {
                        display: flex;
                        align-items: center;
                        font-family: IBM Plex Sans;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 18px;
                        color: #161616;
                        &::before {
                            content: " ";
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background-color: #00abca;
                            width: 24px;
                            height: 24px;
                            border-radius: 50%;
                            background-image: url(..//img/icon/check_aws.svg);
                            background-repeat: no-repeat;
                            background-position: center;
                            margin-left: 39px;
                            margin-right: 20px;
                        }
                    }
                }
            }
        }
    }
}

.all_communication {
    .container {
        .all_com_wrapper {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            height: 100vh;
            .all_com_head {
                display: flex;
                flex-direction: column;
                align-items: center;
                h3 {
                    font-family: IBM Plex Sans;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 16px;
                    text-align: center;
                    text-transform: uppercase;
                    color: #00abca;
                }
                h2 {
                    font-family: IBM Plex Sans;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 42px;
                    line-height: 52px;
                    text-align: center;
                    color: #161616;
                    max-width: 555px;
                }
            }
            .all_com_content {
                display: flex;
                justify-content: space-around;
                align-items: center;
                .switch_tabs_btn {
                    display: flex;
                    flex-direction: column;
                    align-self: stretch;
                    justify-content: space-evenly;
                    .swch_sections_wrapper {
                        display: flex;
                        .line_swch_wrapper {
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-end;
                            align-self: stretch;
                            .name_col {
                                font-family: IBM Plex Sans;
                                font-style: normal;
                                font-weight: bold;
                                font-size: 20px;
                                line-height: 20px;
                                display: flex;
                                align-items: center;
                                justify-content: space-around;
                                text-transform: capitalize;
                                color: #161616;
                                margin-bottom: 20px;
                            }
                            .name_col_1 {
                                align-self: flex-end;
                            }
                            .name_col_2 {
                                align-self: flex-start;
                            }
                            .description_col {
                                font-family: Open Sans;
                                font-style: normal;
                                font-weight: normal;
                                font-size: 16px;
                                line-height: 24px;
                                color: #667886;
                            }
                        }
                        .line_swch_wrapper_1 {
                            margin-right: 28px;
                        }
                        .line_swch_wrapper_2 {
                            margin-left: 28px;
                        }
                    }

                    .swch_sections_wrapper {
                        height: 106px;
                        .trigger_btn {
                            width: 60px;
                            height: 60px;
                            background: #f1f3f6;
                            border-radius: 50%;
                            align-self: baseline;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            &:hover {
                                box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
                                transition: .15s;
                            }
                        }
                        .trigger_btn_active {
                            background: #00ABCA;
                        }
                    }
                }
                .switch_tabs_btn_1 {
                    display: flex;
                    align-items: flex-end;
                    .swch_btn_1 {
                        display: flex;
                        flex-direction: row;
                        text-align: right;
                    }
                }
                .switch_tabs_btn_2 {
                    display: flex;
                    align-items: flex-start;
                    .swch_btn_2 {
                        display: flex;
                        flex-direction: row;
                        align-items: flex-start;
                    }
                }
                .switch_tabs_wrapper {
                    margin: 0 58px;
                    .tabs {
                        filter: drop-shadow(0px 4px 17px rgba(2, 87, 102, 0.25));
                        .tab_image {
                            display: none;
                        }
                        .tab_active {
                            display: flex;
                            max-width: 313px;
                            max-height: 635px;
                        }
                    }
                }
            }
        }
    }
}
