* {
    padding: 0;
    margin: 0;
    border: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    &:before {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    &:after {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
}

a {
    text-decoration: none;

    &:focus {
        outline: none;
    }
    &:active {
        outline: none;
    }

    &:visited {
        text-decoration: none;
    }
    &:hover {
        text-decoration: none;
    }
}

ul {
    li {
        list-style: none;
    }
}

body {
    display: flex;
    flex-direction: column;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1170px;
}

.header {
    position: fixed;
    top: 0;
    display: flex;
    height: 64px;
    width: 100%;
    .container_header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 64px;
        .logo_wrapper {
            display: flex;
            align-items: center;
            .logo,
            .company_name {
                max-height: 64px;
            }
        }

        nav {
            border: 1px dashed violet;
            .link_wrapper {
                display: flex;
                li {
                    margin-left: 50px;
                    a {
                        font-family: IBM Plex Sans;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 16px;
                        color: #ffffff;
                    }
                }
            }
        }
    }
}

.dstar_iot {
    background-image: url(/img/background_header.png);
    height: 100vh;
}

.how_it_works {
    height: 800px;
}